:root {
  --color-white: #ffffff;
  --color-black: #c9bbbb;

  --color-accent: #FF6363;
--color-secondary: #E7FAFE;
--color-brand: #e7f9fd;
  --color-gray: rgb(0 0 0 / 0.1);

  --border: var(--border-width-m) solid var(--color-accent);
  --gradient: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, var(--color-brand) 100%);
  
  
  --border-radius-m: 60px;
  --border-radius: 30px;
  --border-radius-s: 16px;
  --border-radius-xs: 8px;

  
  --font-family-base: 'Manrope';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;
  --section-padding-y: #{fluid(80, 40)};

  --transition-duration: 0.2s;

  --layer-mobile-menu: 100;
}
